* {
    padding: 0px;
   box-sizing: border-box;
}

body {
    background-color:hsl(218, 23%, 9%);
    color: white;
    }
    

  #main {
      text-align: center;
      padding: 5px;
      
  }

.image {
    text-align: center;
    padding: 20px;
    margin-top: 2px;
    height: auto;
    
}
.top {
    margin: 10px;
}
 
button {
     background-color: hsl(176, 68%, 64%);
     padding: 10px;
     border: 0px solid hsl(176, 68%, 64%);;
     border-radius: 20px;
     color: white;
     width: 15%;
     font-weight:400;
     font-family: 'Raleway';
     margin: 5px;
 }

h3 {
    font-family: 'Raleway';
    font-weight: 400;
}

 h1 {
    font-weight: 700;
    font-family: 'Raleway';
    /*text-align: center;*/
    line-height: 30px;
}

p {
    font-size: 8px;
    font-family: 'Open sans';
    font-weight: 400;
    line-height: 23px;
}

.first, .second {
   display: block;
   max-width: 25%;
   padding: 40px;
   align-items: center;
   margin: 20px;

}



.boxes {

    display: flex;
    text-align: center;
    justify-content: space-around;
    margin:50px;
    align-items: center;
    max-width: 100%;
    
}
img {
    align-items: center;
}

.stay {
 display: block;
padding-left: 50px;
padding-top: 100px;
line-height: 20px;
max-width: 40%;
}


.all {
    display: flex;
    padding: 20px;
   /* width: 100%;*/
    flex-wrap: wrap;
    

}

.stayyy {
    font-weight: 700;
    
}

.biggerimage {
    margin-right: 15px;
    justify-items: center;
    padding-left: 8%;
    max-width: 40;
}

a {
    color:white;
}

.quotecontainer {
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    margin: 15px;
    margin-top: -20px;
    border: opx solid hsl(219, 30%, 18%);
    border-radius: 3px;
    box-shadow: 1px 1px 10px hsl(218, 28%, 13%);
    max-width: 80%;
    }
    

.quotedtexts {
    font-size: 10px;
    padding: 3px;
}

.round {
    height:25px;
    width: 25px;
    border-radius: 50%;
    margin-bottom: 7px;
    }

.speaker {
      display: block;
      padding: 25px;
      line-height: 6px;
      margin-left: 3px;
      padding-top: 5px;
}

.speakercircle {

    display: flex;
    height: 10px;
    padding: 4px;
}

h3 {
    font-size: 10px;
    font-weight: 100;
    font-family: 'Open sans';
}

h6 {

    font-size: 1px;
    font-family: 'san serif';
    
}

.quote {
     margin-top: 150px;
     margin-left: 110px;
     width: 15px;
    
}

.allquotes {
    display: flex;
    margin-left: 112px;
    justify-items: center;
    max-width: 100%;
}

#form {
    background-color: hsl(221, 27%, 12%);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 150px;
    border: opx solid hsl(221, 27%, 12%);
    border-radius: 15px;
    box-shadow: 1px 1px 7px hsl(216, 73%, 7%);
}

.get {
    font-family: 'Raleway';
    font-weight: 700;
}


#fill-email {
    color: black;
    padding: 15px;
    width: 33%;
}

input {
    border: 0px solid white;
    margin: 10px;
    border-radius: 30px;

}



#button {
     padding: 15px;
     font-size: 9px;
     font-family: 'Raleway';
     background-color: hsl(176, 68%, 64%);
     color: white;
     width: 20%;
}


footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 50px;
    margin-top: -240px;
    position: absolute;
    z-index: -1;
   /* max-width: 100%;*/
    padding: 50px;
    justify-content: space-evenly;
}

.icons2 {
    height: 1.4rem;
    width: auto;
    padding-right: 15px;
    margin-top: 17px;
}



.logoo {
    width: 150px;
    height: auto;
    margin-top: 130px;
    padding-left: 50px;
   
}

.phone {
    display: flex;
    margin: 10px;
}


.socials {
    display: flex;
    align-content: center;
    
}



.phonemail {
    display: block;
    padding-right: 20px;
    padding-left: 50px;
    
}

.feet {
    display: flex;
    padding: 30px;
    margin: 10px;
    padding-left: -40px;

}


.details {

    margin-top: 17px;
    padding-left: 0px;
    font-family: 'Open sans';
    font-weight: 400;
    font-size: 12px;

    }

.socials {
    padding: 20px;
    display: flex;
    padding-left: 160px;
    

}

.fa {
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    
}


.face  {
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 10px;
    width: 23px;
    height: 23px;
}

.face1  {
    border-radius: 50%;
    border: 1px solid cyan;
    margin-right: 10px;
    width: 23px;
    height: 23px;
    color: cyan;
}


.footnav {
    list-style-type: none;
    margin: 10px;
    padding-bottom: 20px;
    width: 100px;
    font-family: 'Open sans';
    font-weight: 400;
    line-height: 30px;
    padding-left: 40px;

}

li a {
    display: block;
    text-decoration: none;
}



.topnav {
    list-style-type: none;
    padding-bottom: 20px;
    font-family: 'Open sans';
    font-weight: 400;
    display: flex;
    margin: 0px;
    padding: 0px;
    float: right;
}

li .up {
    display: block;
    padding: 10px;
}

header {
    margin: 15px;
    padding: 15px;
}











